div.n-issue-container {
  vertical-align: middle;
}

div.n-emoji-container {
  display: none;
  position: relative;
}

div.n-emoji-container ul {
  list-style-type: none;
}

/* Show the emoji container only when the parent container is hovered */
div.n-issue-container:hover div.n-emoji-container {
  display: inline-block;
}

/* hide tooltiptext by default */
span.n-tooltiptext {
  display: none;
  position: absolute;

  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

/* Show text when the emoji is hovered */
div.n-tooltip-container:hover span.n-tooltiptext {
  display: inline-block;
}

span.n-tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
