.n-boost-panel {
  margin-bottom: 20px;
}

.n-boost-title-container {
  margin-bottom: 4px;
}

.n-boost-title-container h2 {
  color: blueviolet;
}

.n-boost-items-container {
  padding: 10px 2px 10px 6px;
  background-color: rgb(130, 80, 223, 0.1);
}

.n-boost-from {
  text-decoration: none;
}

.n-boost-item {
  padding-bottom: 5px;
}
