/* Main container styling */
DISABLED-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height to vertically center the button if desired */
}

/* Button container styling */
.n-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width of the main element */
  padding: 5px;
}

#n-modal-open-btn {
  color: white;
  background-color: rgb(130, 80, 223);
  border-radius: 12px;
}

/* hide tooltiptext by default */
span.n-tooltiptext {
  display: none;
  position: absolute;

  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -60px;
}

div.n-tooltip-container {
  position: relative;
}

/* Show text when the emoji is hovered */
div.n-tooltip-container:hover span.n-tooltiptext {
  display: inline-block;
}

span.n-tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
