.n-ls-modal {
  display: none;
  color-scheme: none;
  position: fixed;
  z-index: 3005;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(130, 80, 223, 0.1);
  overflow-y: auto;
  color: black;
  align-items: flex-start;
  font-family: sans-serif;
}

.n-ls-modal-content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 420px;
  width: 100%;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.n-ls-modal-close {
  position: absolute;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  top: 10px;
  right: 10px;
}

.n-ls-modal-title {
  display: inline;
  width: 85%;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid #8250df;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

legend {
  font-weight: bold;
  color: #8250df;
  padding: 0 5px;
}

.n-ls-sats-option-row,
.n-ls-sats-amount-row {
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.n-ls-sats-button-row {
  display: flex;
  justify-content: center;
}

.n-ls-modal-button-disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.n-ls-modal-step-0, .n-ls-modal-step-1, .n-ls-modal-step-2, .n-ls-modal-step-3, .n-ls-modal-step-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.n-ls-modal-step-1, .n-ls-modal-step-3, .n-ls-modal-step-4 {
  display: none;
}

.n-ls-modal-step-0 fieldset,
.n-ls-modal-step-1 fieldset,
.n-ls-modal-step-2 fieldset,
.n-ls-modal-step-3 fieldset,
.n-ls-modal-step-4 fieldset {
  width: 100%; /* Make all fieldsets full width of their container */
  box-sizing: border-box; /* Include padding and border in the width */
}

label {
  color: black;
  display: flex;
  align-items: center;
  margin-right: 10px;
  white-space: nowrap;
  flex: 0 0 auto;
}

.n-ls-modal-input {
  width: 225px;
  min-width: 150px;
  max-width: 90%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: medium;
  box-sizing: border-box;
}

.n-ls-modal-input:focus {
  outline: none;
  border-color: #8250df;
}

select.n-ls-modal-input {
  width: 225px;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%238250df' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 8px center;
  padding-right: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.n-ls-modal-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgb(130, 80, 223);
  color: white;
  margin-top: 10px;
}

.n-ls-modal-button:hover {
  background-color: rgb(130, 80, 223, 0.9);
}

.n-ls-modal-button:active {
  background-color: rgb(130, 80, 223, 1);
}

.help-icon {
  cursor: help;
  margin-left: 5px;
  position: relative;
}

.tooltip {
  display: none;
  position: absolute;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  white-space: normal;
  z-index: 10;
  min-width: 200px;
  max-width: 300px;
  text-align: center;
  pointer-events: none;
}

.help-icon:hover + .tooltip {
  display: block;
}

.n-ls-copy-button {
  margin-left: 5px;
  font-size: 14px;
  padding: 2px 5px;
  cursor: pointer;
}

/* Container for the checkbox and label */
.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

/* Hide the default checkbox */
.checkbox-container input[type="checkbox"] {
  display: none;
}

/* Custom checkbox */
.checkbox-container .custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #8250df;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}

/* Checkmark for the checked state */
.checkbox-container .custom-checkbox.checked::before {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #8250df;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Align the span to the left */
.checkbox-container label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-container label span:last-child {
  color: black;
}