/* Modal container, hidden by default */
.n-modal {
  display: none;
  color-scheme: none;
  position: fixed;
  z-index: 3005;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  color: black;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: sans-serif;
}

/* Modal content */
.n-modal-content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  position: relative;
  border-radius: 10px;
  margin: auto; /* This will help with vertical centering */
}

.n-modal-content span {
  font-size: large;
}

.n-span-red {
  color: red;
  margin: 0px 5px 0px 5px;
}

/* Close button */
.n-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.n-modal-close:hover,
.n-modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Title */
.n-modal-title {
  display: flex;
  position: relative;
  justify-content: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.n-modal-title-link {
  color: #8250df;
  text-decoration: none;
}

.n-modal-title-link:hover {
  text-decoration: underline;
}

/* Numeric input */
.n-modal-input {
  width: 100%;
  padding: 5px;
  margin: 5px;
  font-size: 18px;
}

.n-input-error {
  border: 2px solid coral;
}

/* QR code container */
.n-modal-qr {
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 18px;
}

/* Payment message */
.n-modal-paid-msg {
  font-size: 18px;
  color: green;
  text-align: center;
}

.n-modal-copy-container {
  display: flex;
  justify-content: center;
}

.n-modal-copy-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgba(130, 80, 223);
  color: white;
}

.n-modal-copy-btn.copied {
  background-color: green;
}

/* Sats option buttons */
.n-sats-option-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

.n-sats-option-btn {
  display: flex;
  justify-content: center;
  padding: 5px 10px 5px 0px;
  width: 90px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgba(130, 80, 223, 0.5);
  color: #333;
}

.n-sats-option-btn:hover {
  background-color: rgba(130, 80, 223);
}

/* Generate Invoice button */
.n-generate-invoice-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgb(130, 80, 223);
  color: white;
  margin-top: 10px;
}

#n-modal-step-1,
#n-modal-step-2,
#n-modal-step-3 {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#n-modal-step-1 {
  display: block;
}