.checkbox-container {
  margin-left: 15px;
  margin-bottom: 10px;
}

.checkbox-container span {
  font-family: Arial, sans-serif;
}

#n-tw-notes-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.n-tw-note {
  background-color: rgb(208, 173, 240);
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  color: black;
}

.n-tw-note img {
  max-width: 100%;
  height: auto;
  margin: 5px 0 5px 0;
}

.n-tw-note a {
  color: white;
  text-decoration: underline;
}