.nostr-indicators {
  display: inline-flex;
  margin-top: -5px;
  margin-left: 5px;
  border: 2px solid white;
  border-radius: 7px;
  padding: 5px;
  background-color:  rgb(130, 80, 223);
}

.n-follows-you-indicator {
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: rgb(130, 80, 223);
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  padding: 2px 4px 2px 4px;
  margin-left: 4px;
  border-radius: 4px;
}

.tw-note {
  display: flex;
  flex-direction: column;
  width: calc(100% - 0.5rem);
  gap: 1rem;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.tw-note span {
  background-color: rgb(210 105 255 / 100%);
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  color: black;
}

.tw-note span img {
  max-width: 100%;
  height: auto;
  margin: 5px 0 5px 0;
}

.tw-note span a {
  color: white;
  text-decoration: underline;
}

