.nostr-indicators {
  display: inline-flex;
  margin-top: -5px;
  margin-left: 5px;
  border: 2px solid white;
  border-radius: 7px;
  padding: 5px;
  background-color: rgb(130, 80, 223);
}

.n-follows-you-indicator,
.n-nostr-profile-button {
  font-family:
    TwitterChirp,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  background-color: rgb(130, 80, 223);
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  padding: 2px 4px 2px 4px;
  margin-left: 4px;
  border-radius: 4px;
}
