div.ActionBar-item-container {
  overflow: visible; /* override github overflow hidden */
}

div#n-toolbar-container {
  display: inline-block;
}

button#n-publish-to-nostr {
  color: white;
  background-color: #8250df;
  margin-left: 4px;
}

/* hide tooltiptext by default */
span.n-tooltiptext {
  display: none;
  position: absolute;

  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;

  z-index: 1000;
}

div.n-tooltip-container {
  position: relative;
}

/* Show text when the emoji is hovered */
div.n-tooltip-container:hover span.n-tooltiptext {
  display: inline-block;
}

span.n-tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

div.n-reward-emoji {
  display: inline-block;
  right: 4px;
}

div.n-emoji {
  height: 32px;
  width: 32px;
}

div.n-emoji:hover {
  background-color: #8250df;
  border-radius: 6px;
}