fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #8250df;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

legend {
  font-weight: bold;
  color: #8250df;
  padding: 0 5px;
}

button.settings-button {
  background-color: rgba(130 80 223 / 75%);
  color: floralwhite;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  width: fit-content;
}

button.settings-button:hover {
  background-color: rgba(130 80 223 / 100%);
}

.input-container input[type="checkbox"] {
  width: fit-content;
  margin-bottom: 5px;
}

.input-container input[type="text"],
.input-container input[type="password"] {
  font-size: medium;
  width: 100%;
  padding: 5px 0 5px 5px;
  margin-top: 5px;
  max-width: 96%;
}

.input-container select {
  font-size: medium;
  width: 99%;
  padding: 5px;
  margin-top: 5px;
}

.flex-container {
  display: flex;
  align-items: center;
  gap: 5px;
  max-width: 98%;
}

.flex-container input[type="text"] {
  margin-bottom: 4px;
}

.flex-left {
  flex-grow: 1;
  min-width: 0;
}

.flex-right {
  flex-shrink: 0;
}

a {
  text-decoration: dotted;
  text-decoration-line: underline;
  color: rgba(0, 150, 133, 0.75);
}

a:hover {
  color: rgba(0, 150, 133, 1);
}

a[target="_blank"]::before {
  content: " ";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'%3E%3C/path%3E%3Cpolyline points='15 3 21 3 21 9'%3E%3C/polyline%3E%3Cline x1='10' y1='14' x2='21' y2='3'%3E%3C/line%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 3px;
}

.simple-tooltip {
  position: relative;
  --tooltip-margin: 20px;
  --tooltip-font-size: 12px;
  --tooltip-max-width: 200px;
}

.simple-tooltip::after {
  content: attr(data-tooltip-text);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: var(--tooltip-font-size);
  white-space: normal;
  opacity: 0;
  visibility: hidden;
  max-width: var(--tooltip-max-width);
  width: max-content;
  z-index: 1000;
}

/* Default: show below */
.simple-tooltip::after {
  top: 100%;
  transform: translate(-50%, var(--tooltip-margin));
}

/* Show above when data-show-above is true */
.simple-tooltip[data-show-above="true"]::after {
  bottom: 100%;
  top: auto;
  transform: translate(-50%, calc(var(--tooltip-margin) * -1));
}

/* Show on hover */
.simple-tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}

.block {
  display: block;
}
