fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #8250df;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

legend {
  font-weight: bold;
  color: #8250df;
  padding: 0 5px;
}

button.settings-button {
  background-color: rgba(130 80 223 / 75%);
  color: floralwhite;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  width: fit-content;
}

button.settings-button:hover {
  background-color: rgba(130 80 223 / 100%);
}

.input-container input[type="checkbox"] {
  width: fit-content;
  margin-bottom: 5px;
}

.input-container input[type="text"],
.input-container input[type="password"] {
  font-size: medium;
  width: 100%;
  padding: 5px 0 5px 5px;
  margin-top: 5px;
  max-width: 96%;
}

.input-container select {
  font-size: medium;
  width: 99%;
  padding: 5px;
  margin-top: 5px;
}

.flex-container {
  display: flex;
  align-items: center;
  gap: 5px;
  max-width: 98%;
}

.flex-container input[type="text"] {
  margin-bottom: 4px;
}

.flex-left {
  flex-grow: 1;
  min-width: 0;
}

.flex-right {
  flex-shrink: 0;
}
