body {
  background-color: rgb(130, 80, 223, 0.1);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  min-width: 500px;
  font-size: medium;
}

h2 {
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0;
}

.section {
  background-color: rgb(130, 80, 223, 0.1);
  padding: 10px;
  margin-bottom: 20px;
  min-width: 400px;
  max-width: 400px;
  width: 100%; /* Make sure it doesn't exceed max-width */
  box-sizing: border-box; /* Include padding in width calculation */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

label {
  color: black;
  display: flex;
  align-items: center;
  position: relative; /* Make label the positioning context for the tooltip */
}

label span {
  margin-left: 5px;
}

.input-container {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}

.input-container input {
  width: 100%;
  max-width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.input-container input[type="checkbox"] {
  width: fit-content;
  margin-bottom: 5px;
}

.input-container select {
  width: 100%;
  max-width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.help-icon {
  cursor: help;
  margin-left: 5px;
  position: relative; /* Make help icon the positioning context for the tooltip */
}

.tooltip {
  display: none;
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  bottom: 125%; /* Position the tooltip above the help icon */
  left: 50%;
  transform: translateX(-50%);
  white-space: normal; /* Allow text to wrap */
  z-index: 10;
  max-width: 200px; /* Limit the width of the tooltip */
  text-align: center; /* Center align text inside the tooltip */
  pointer-events: none; /* Prevent the tooltip from interfering with hover */
}

label:hover .tooltip {
  display: block;
}

.relay-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.relay-item input {
  flex-grow: 1;
  max-width: 100%;
  padding: 5px;
}

.relay-item button {
  margin-left: 10px;
}

button {
  background-color: rgb(130 80 223 / 75%);
  color: floralwhite;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  width: fit-content;
}

.remove-relay {
  margin-top: 5px;
}

#namespace {
  max-width: 96%;
}

#reset-settings {
  background-color: darkred;
}

#save-settings {
  background-color: green;
}

#nip07-settings {
  display: none;
}

#saved-notification {
  display: none;
  color: green;
  font-weight: bold;
}