body {
  background-color: rgb(130, 80, 223, 0.1);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  min-width: 500px;
  font-size: medium;
}

h2 {
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0;
}

.section {
  background-color: rgb(130, 80, 223, 0.1);
  padding: 10px;
  margin-bottom: 20px;
  min-width: 400px;
  max-width: 400px;
  width: 100%; /* Make sure it doesn't exceed max-width */
  box-sizing: border-box; /* Include padding in width calculation */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

label {
  color: black;
  display: flex;
  align-items: center;
  position: relative; /* Make label the positioning context for the tooltip */
}

label span {
  margin-left: 5px;
}

.input-container {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}

.input-container.collapsed {
  display: none;
}

.input-container.expanded {
  display: flex;
}

.section .indicator {
  float: right;
  font-weight: bold;
  transition: transform 0.3s ease-out;
}

.section.expanded .indicator {
  transform: rotate(90deg); /* Rotate the indicator when expanded */
}

.section h2 {
  margin: 0;
  padding: 10px 10px 10px 40px;
  position: relative;
}

.section h2::before {
  content: '▶'; /* The default arrow indicator */
  position: absolute;
  left: 10px; /* Adjust this value to position the indicator inside the section */
  transition: transform 0.3s ease-out;
}

.section:has(.input-container.collapsed) h2::before {
  transform: rotate(0deg); /* Indicator points right when collapsed */
}

.section:has(.input-container.expanded) h2::before {
  transform: rotate(90deg); /* Indicator points down when expanded */
}

.input-container input {
  width: 100%;
  max-width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.input-container input[type="checkbox"] {
  width: fit-content;
  margin-bottom: 5px;
}

.input-container select {
  width: 100%;
  max-width: 100%;
  padding: 5px;
  margin-top: 5px;
}

/* Container for the checkbox and label */
.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

/* Hide the default checkbox */
.checkbox-container input[type="checkbox"] {
  display: none;
}

/* Custom checkbox */
.checkbox-container .custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #8250df;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}

/* Checkmark for the checked state */
.checkbox-container input[type="checkbox"]:checked + .custom-checkbox::before {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #8250df;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Align the span to the left */
.checkbox-container span {
  color: black;
  cursor: pointer;
}

.help-icon {
  cursor: help;
  margin-left: 5px;
  position: relative; /* Make help icon the positioning context for the tooltip */
}

.tooltip {
  display: none;
  position: absolute;
  background-color: black;
  color: white;
  padding: 10px; /* Add padding for better readability */
  border-radius: 5px;
  bottom: 125%; /* Position the tooltip above the help icon */
  left: 50%;
  transform: translateX(-50%);
  white-space: normal; /* Allow text to wrap */
  z-index: 10;
  min-width: 50vw; /* Allow the tooltip to expand based on its content */
  max-width: 90vw; /* Maximum width to prevent it from being too wide */
  text-align: center; /* Center align text inside the tooltip */
  pointer-events: none; /* Prevent the tooltip from interfering with hover */
}

.tooltip.below {
  bottom: auto;
  top: 125%; /* Position the tooltip below the help icon */
}

.help-icon:hover + .tooltip {
  display: block;
}

.relay-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.relay-item input {
  flex-grow: 1;
  max-width: 100%;
  padding: 5px;
}

.relay-item button {
  margin-left: 10px;
}

button {
  background-color: rgb(130 80 223 / 75%);
  color: floralwhite;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  width: fit-content;
}

.remove-relay {
  margin-top: 5px;
}

#namespace {
  max-width: 96%;
}

#reset-settings {
  background-color: darkred;
}

#save-settings {
  background-color: green;
}

#nip07-settings {
  display: none;
}

#saved-notification {
  display: none;
  color: green;
  font-weight: bold;
}

fieldset {
  border: 1px solid #8250df;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

legend {
  font-weight: bold;
  color: #8250df;
  padding: 0 5px;
}