#n-zap-button {
  display: inline-block;
  height: 32px;
  width: 32px;
  background-color: rgb(130, 80, 223);
  border-radius: 6px;
}

/* hide tooltiptext by default */
span.n-tooltiptext {
  display: none;
  position: absolute;

  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -60px;
}

div.n-tooltip-container {
  position: relative;
}

/* Show text when the emoji is hovered */
div.n-tooltip-container:hover span.n-tooltiptext {
  display: inline-block;
}

span.n-tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
