.n-tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.n-tooltip-wrapper a {
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.n-tooltip-text {
  display: none;
  position: absolute;
  background-color: black;
  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
  white-space: normal;
  z-index: 9999;
  min-width: 200px;
  max-width: 300px;
  text-align: center;
  pointer-events: none;
  font-family: TwitterChirp, -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.n-tooltip-wrapper .n-tooltip-wrapper-input:hover + .n-tooltip-text,
.n-tooltip-wrapper .n-tooltip-wrapper-input:focus + .n-tooltip-text {
  display: block;
}

.n-tooltip-wrapper .n-tooltip-text {
  display: none;
}